body {
  height: 100vh;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  background-color: rgba(251, 247, 247, 1);
  background-image: url("./images/bck.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.main {
  height: 100vh;
}

.App {
  text-align: center;
}

.madimi-one {
  font-family: "Madimi One", sans-serif;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.competence-card:hover {
  cursor: pointer;
  color: white !important;
  background-color: gray;
}

.competence-card {
  border-radius: 25px;
}

.competence-card-image {
  width: 100%;
  border-radius: 20px;
}

.clear-filters-btn {
  background-color: #ff8c00;
  color: white;
}

.clear-filters-btn:hover {
  background-color: #c3a278;
  color: black;
}

.competence-card-name {
  font-weight: bold;
}

.competence-card-body {
  transition: transform 0.3s ease-in-out;
}

.competence-card-body:hover {
  transform: scale(1.1);
}

.comp-assign-button {
  background-color: #ff8c00;
  border: none;
}

.comp-assign-button:hover {
  background-color: #a06c2e;
}
